* {
  margin: 0;
  padding: 0;
}

.gallery {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  background: #ddd;
}

.gallery h1 {
  font-size: 40px;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.gallery .image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.gallery .image-gallery .image {
  height: 240px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  overflow: hidden;
  cursor: pointer;
}

.gallery .image-gallery .image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.gallery .image-gallery .image:hover img {
  transform: scale(1.1);
}

.gallery .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.gallery .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.gallery .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery .popup-image img {
    width: 95%;
  }
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.apresentation {
  height: 100vh;
  background-image: url(/img/home-lizimoveis.jpg);
  background-position: center center;

  background-size: cover;
  color: #ffff;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.fa-instagram,
.fa-facebook-f,
.fa-whatsapp {
  cursor: pointer;
  padding: 1%;
  margin-bottom: 2%;
  color: #ffff;
  border-radius: 10%;
}

.whatsapp-float {
  cursor: pointer;
  color: #ffff;
  background-color: #00ff7f;
  border-radius: 8%;
}

.whatsapp-float:hover {
  background-color: #056334;
}

.container-fluid {
  padding: 3% 15%;
}

footer {
  color: #ffff;
}

.whatsapp {
  position: fixed;
}

.btn {
  margin: 10px;
  padding: 10px;
}

.btn-whatsapp {
  background-color: rgb(7, 181, 7);
  color: #ffff;
}

.btn-whatsapp:hover {
  background-color: #056334;
  color: #ffff;
}

h1.tittle {
  padding-top: 20%;
}

.tittleimob {
  margin-top: 3%;
}

.localization {
  margin: 2% 2%;
  align-items: center;
}

.maps {
  margin: 2% 0;
}

.box {
  width: 20px;
  height: 20px;
  position: fixed;
  right: 1rem;
  bottom: 8rem;
  margin-right: 5%;
}
.show-financing {
  margin-bottom: 2rem;
}

.price {
  margin-top: 2rem;
  background-color: #00ff7f;
  font-weight: bold;
}

.img-start {
  max-width: 500px;
  max-height: 400px;
  width: auto;
  height: auto;
}
